/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

:root {
  --bs-body-bg: #d6f8fd;
}

.card {
  --bs-card-bg: #fff6f000;
}

.form-control {
  background-color: transparent;
  border-width: 2px;
}

.form-control:focus {
  background-color: transparent;
}
